:root {
  --primary-heading-color: #212121;
  --secondary-heading-color: #ffffff;
  --first-link-color: #212121;
  --second-link-color: #757575;
  --third-link-color: #ffffff;
  --main-text-color: #757575;
  --btn-text-color: #ffffff;
  --btn-background-color: #f5f4fa;
  --btn-background-hover: #188ce8;
  --accent-color: #2196f3;
  --dark-background-color: #2f303a;
  --light-background-color: #ffffff;
  --cinereous-background-color: #f5f4fa;
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--light-background-color);
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--primary-heading-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.btn {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* -----------HEADER----------- */

.header-logo {
  color: var(--first-logo-color);
}

.logo-text {
  color: var(--accent-color);
}

.header-link,
.header-contact {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--first-link-color);
}
.header-link:hover,
.header-link:focus,
.active {
  color: var(--accent-color);
}

.header-contact {
  color: var(--second-link-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

/* -----------HERO----------- */
.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-heading-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-background-hover);
}

/* -----------BENEFITS----------- */
.benefits-subtitle {
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--primary-heading-color);
}

.benefits-text {
  line-height: calc(24 / 14);
}

/* -----------PRODUCTS----------- */

.products-title {
  color: var(--primary-heading-color);
}

/* -----------TEAM----------- */
.team {
  background-color: var(--cinereous-background-color);
}

.team-items {
  background: var(--light-background-color);
}

.team-caption,
.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-caption {
  font-weight: 500;
  color: var(--primary-heading-color);
}

/* -----------FOOTER----------- */

.footer {
  background-color: var(--dark-background-color);
}
.footer-logo {
  color: var(--second-logo-color);
}

.footer-links {
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.footer-links:hover,
.footer-links:focus {
  color: var(--accent-color);
}

.footer-address {
  color: var(--third-link-color);
}

/* -----------WORKS----------- */

.works-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  color: #212121;
  background-color: var(--btn-background-color);
  cursor: pointer;
}

.works-btn:hover,
.works-btn:focus,
.current {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.works-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-heading-color);
}
.works-caption {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--main-text-color);
}

/* ----------- ----------- */
